.project_card {
  background-color: var(--light-bg) !important;
  height: auto;
  width: 75%;
  margin: 100px auto;
  padding: auto;
  color: var(--color);
  box-shadow: var(--shadow);
  border-radius: 0 !important;
  scroll-margin: 100px;
}
.project_card .card-small {
  background-color: var(--light-bg);
  border: var(--border);
  height: 65px;
  width: 600px;
  box-shadow: var(--shadow);
  border-radius: 0;
  align-items: center;
}

.project_card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_card .content .project {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 60px;
  padding: 1.8rem;
  width: 93%;
  height: auto;
  border: var(--border);
  box-shadow: var(--shadow-small);
}

.project_card .content .project:hover {
  /* background-color: var(--color);
  color: var(--light-bg);
  box-shadow: var(--shadow-small-light);
  cursor: pointer; */
}

.project_card .content .project_name {
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: start;
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: row;
}
.project_card .content .project_name .project_link:hover {
    transform: scale(1.00);
    cursor: default;
}

.project_card .content .project_name img{
    margin-top: 0.5rem;
    margin-right: 24px;
}

.project_card .content .project_desc {
  font-size: 0.8rem;
  margin-top: 24px;
  margin-left: 10px;
  text-align: justify;
}

.project_card .project_links {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.project_card .project_link {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 3px 10px;
  height: 30px;
  min-width: 100px;
  border: var(--border);
  box-shadow: var(--shadow-small);
  margin-top: 16px;
  text-decoration: none;
  transition: transform 0.3s ease; 
}
.project_card .project_link:nth-child(1) {
  margin-left: 0;
}
.project_card .project_link:hover {
  background-color: var(--color);
  color: var(--light-bg);
  box-shadow: var(--shadow-small-light);
  cursor: pointer;
  transform: scale(1.1);
}

.project_card .project_screenshots {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 93%;
  max-width: 80vw;
  flex-wrap: wrap;
  height: auto;
  margin-left: -10px;
}

.project_card .project_screenshots img {
  margin: 12px;
  height: 400px;
  width: auto;
  box-shadow: var(--shadow-small);
  border: var(--border);
  transition: transform 0.3s ease; 
}
.project_card .project_screenshots2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 93%;
    max-width: 80vw;
    flex-wrap: wrap;
    height: auto;
    margin-left: -10px;
  }
  
.project_card .project_screenshots2 img {
    height: 190px ;
    width: auto;
    transition: transform 0.3s ease; 
}

.project_card .project_screenshots img:hover  {
    transform: scale(1.5);
    cursor: pointer;
    z-index: 1;
}

.project_card .project_screenshots2 img:hover  {
    transform: scale(2.5);
    cursor: pointer;    
}

.width-small img {
    height: 250px !important;
}

.width-small img:hover {
    transform: scale(2) !important;
}


@media only screen and (max-width: 1365px) {
    .project_card {
      width: 90%;    
      scroll-margin: 150px;
    }
    .project_card .card-small {
        width: 60%;
        min-height: 40px;
        height: auto;
    }

    .project_card .content .project {
        margin: 20px;
        padding: 1.8rem;
        width: 94%;
        height: auto;
    }
    .project_card .content .project_name {
        font-size: 0.7rem;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .project_logo {
        width: 36px;
        height: 36px;
        position: relative;
        left: 0;
    }
    .project_card .content .project_name img {
        width: 36px;
    }
    .project_card .content .project_link  {
        margin-left: 0px;
        padding: 10px 0;
        font-size: 0.7rem;
        width: 100%;
    }
    .project_date {
        font-size: 0.7rem;
    }

    .project_card .content .project_desc {
        font-size: 0.7rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        text-align: left;
    }
    .project_card .project_screenshots img {
        height: 200px;
        margin-left: 0;
    }
    .project_card .project_screenshots2 img {
        height: 100px;
    }
    .project_card .project_screenshots2, .project_card .project_screenshots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .project_card .project_screenshots2 img:hover  {
        transform: scale(2);
        cursor: pointer;    
    }

    .width-small img {
        height: 170px !important;
    }
    
    .width-small img:hover {
        transform: scale(1.5) !important;
    }
    .project_card .content .project_name img {
        margin: 0;
    }
}