.project_card {
  /* background: var(--light-bg); */
  height: auto;
  width: 75%;
  margin: 0px auto;
  padding: auto;
  color: var(--color);
  box-shadow: var(--shadow);
  scroll-margin: 100px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.project_card .card-small {
  background: var(--dark-color);
  border: var(--border);
  height: 65px;
  width: 300px;
  box-shadow: var(--shadow);
  align-items: center;
  border-radius: 10px;
  position: relative;
  top: -10px;
  left: 0px !important;
}

.project_card .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: stretch;
  /* padding: 1rem; */
  width: 100%;
  box-sizing: border-box;
}

.project_name .project_link:hover {
  background: none !important;
  color: var(--color) !important;
}

.project_card .content .project {
  background: var(--light-bg);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  margin: 10px;
  padding: 1.8rem;
  width: 100%;
  height: auto;
  border: var(--border);
  border-radius: 10px;
}

.project_card .content .project:hover {
  /* background-color: var(--color);
  color: var(--light-bg);
  box-shadow: var(--shadow-small-light);
  cursor: pointer; */
}

.project_card .content .project_name {
  font-weight: bold;
  margin-top: 0rem;
  text-align: start;
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: row;
}

.project_card .content .project_name .project_link:hover {
  transform: scale(1.00);
  cursor: default;
}

.project_card .content .project_name img {
  margin-top: 0.5rem;
  margin-right: 24px;
}

.project_card .content .project_desc {
  font-size: 0.8rem;
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: justify;
}

.project_card .content .project_link {
  font-size: 0.8rem;
}

.project_card .project_links {
  /* padding-bottom: 20px; */
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
}

.project_card .project_link {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 8px;
  padding: 3px 10px;
  height: 30px;
  font-size: 1rem;
  min-width: 100px;
  border: 1px solid var(--color);
  border-radius: 10px;
  box-shadow: var(--shadow-small);
  /* margin-top: 16px; */
  text-decoration: none;
  transition: transform 0.3s ease;
}

.project_card .project_link:nth-child(1) {
  margin-left: 0;
}

.project_card .project_link:hover {
  background-color: var(--color);
  color: var(--dark-color);
  border-radius: 10px;
  box-shadow: var(--shadow-small-light);
  cursor: pointer;
}

.project_card .project_screenshots {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 93%;
  max-width: 80vw;
  flex-wrap: wrap;
  height: auto;
  margin-left: -10px;
}

.project_card .project_screenshots img {
  margin: 12px;
  height: 400px;
  width: auto;
  box-shadow: var(--shadow-small);
  border: var(--border);
  transition: transform 0.3s ease;
}

.project_date {
  font-size: 0.9rem;
}

.project_card .project_screenshots2 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 93%;
  max-width: 80vw;
  flex-wrap: wrap;
  height: auto;
  margin-left: -10px;
}

.project_card .project_screenshots2 img {
  height: 190px;
  width: auto;
  transition: transform 0.3s ease;
}

.project_card .project_screenshots img:hover {
  transform: scale(1.5);
  cursor: pointer;
  z-index: 1;
}

.project_card .project_screenshots2 img:hover {
  transform: scale(2.5);
  cursor: pointer;
}

.width-small img {
  height: 250px !important;
}

.width-small img:hover {
  transform: scale(2) !important;
}


@media only screen and (max-width: 1365px) {
  .project_card {
    width: 90%;
    scroll-margin: 150px;
  }

  .project_card .card-small {
    width: 60%;
    min-height: 40px;
    height: auto;
    margin: auto !important;
  }

  .title {
    text-align: center;
    margin: auto !important;
    font-size: 1rem;
  }

  .project_card .content .project {
    margin: 20px;
    padding: 1.8rem;
    width: 94%;
    height: auto;
  }

  .project_card .content .project_name {
    font-size: 0.7rem;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .project_logo {
    width: 36px;
    height: 36px;
    position: relative;
    left: 0;
    margin-bottom: 20px !important;
  }

  .project_card .content .project_name img {
    width: 36px;
  }

  .project_card .content .project_link {
    margin-left: 0px;
    padding: 10px 0;
    font-size: 0.7rem;
    width: 100%;
    text-align: start;
    margin: 8px 0px !important;
    padding: 10px 4px;
    justify-content: flex-start !important;
  }

  .project_name .project_link {
    font-size: 0.9rem !important;
    margin: 8px 0px !important;
    padding: 10px 0px !important;
  }

  .project_card .content .project_link:nth-child(1) {
    margin-top: 20px !important;
  }

  .project_date {
    font-size: 0.7rem;
    margin-left: 0px !important;
  }

  /* .project_card .content .project_desc {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem !important;
    margin-left: 0rem;
    text-align: left;
  } */

  .project_card .project_screenshots img {
    height: 200px;
    margin-left: 0;
  }

  .project_card .project_screenshots2 img {
    height: 100px;
  }

  .project_card .project_screenshots2,
  .project_card .project_screenshots {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .project_card .project_screenshots2 img:hover {
    transform: scale(2);
    cursor: pointer;
  }

  .width-small img {
    height: 170px !important;
  }

  .width-small img:hover {
    transform: scale(1.5) !important;
  }

  .project_card .content .project_name img {
    margin: 0;
  }

  .project_card .project_links {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start !important;
    padding: 0;
    margin: 0;
    width: auto;
    height: 100%;
  }

}

.desc_highlight {
  font-size: 0.9rem;
  margin: 10px 0px !important;
}