.card {
  background: var(--light-bg) !important;
  height: auto;
  width: 75%;
  margin: 200px auto;
  padding: auto;
  color: var(--color);
  box-shadow: var(--shadow);
  scroll-margin: 100px;
  border-radius: 10px;
  margin-bottom: 100px !important;
}
.card-small {
  background: var(--light-bg);
  border: var(--border);
  height: 60px;
  width: 100px;
  box-shadow: var(--shadow);
  border-radius: 0;
  border-radius: 10px;
  align-items: center;
  margin-left: 10px !important;
  text-align: start;
}
.skills {
  position: relative;
  top: -35px;
  left: 50px;
  width: 300px;
  display: flex;
}
.title {
  width: 100%;
  margin-left: 18px !important;
  text-align: left;
  display: inline-block;
  margin: auto;
  color: var(--color);
  font-size: 1.2rem;
}
.skills_holder {
  margin: 0px 20px 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 87vw;
  margin-left: 40px;
}
.skill {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 3px 10px;
  height: 30px;
  min-width: 100px;
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--shadow-small);
  /* background: var(--button-bg); */
  font-size: 0.8rem;
}


.profile .skill {
  font-size: 0.8rem;
}

.skill:hover {
  background-color: var(--color);
  color: var(--dark-color);
  cursor: default;
  cursor: pointer;
}
.icon {
  position: relative;
  top: -2px;
  left: -4px;
  height: 20px;
  width: 20px;
}
.category {
  margin: 20px;
  width: 300px;
  margin-left: 48px;  
}

@media only screen and (max-width: 1365px) {
  .card {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    scroll-margin: 150px;
  }
  .card-small {
    margin: auto !important;
  }
  .skills {
    left: auto;
  }
  .skills_holder {
    align-items: center;
    justify-content: center;
  }
  .category {
    margin-left: auto;
    margin-right: auto;
  }
  .skill {
    font-size: 0.7rem;
    height: 1.4rem;
  }
  .category {
    width: 80%;
  }
  .card-small {
    width: 200px;
    height: 45px;
  }
  .title {
    font-size: 1.4rem;
  }
}