body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(#0a192f , #0a192f) no-repeat;
  color: white;
}

.App {
  display: flex;
  flex-direction: row;
}

.app {
  width: 100vw;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: -60px;
  left: 0px; 
  height: 94vh;
  max-height: 100vh;
  width: 60%;
  max-width: 100px ;
}
.nav a {
  color: #64ffda;
  padding: auto;
  width: 100%;
  transition: 0.2s ease-in-out all;
  border-radius: 20px;
  height: 26px;
  display: inline-table;
  align-items: center;
  text-align: center;
  transform: rotate(-90deg);
}
.nav a selected {
  color: var(--color)
}
.nav a:hover {
  color : var(--color);
  opacity: 1;
  box-shadow: 3px 3px transparent, -1em 0 8em #64ffda;
  background-color: #64ffda;
  color: black;
}
.sun {
  border-radius: 20px;
  padding: 5px 10px;
  transition: 0.2s ease-in-out all;
  background-color: white;
}
.sun:hover {
  color : var(--color);
  opacity: 1;
  box-shadow: 3px 3px transparent, -1em 0 8em #64ffda;
  background-color: var(--color);
  color: black;
}

/* Set the header variable */

/* Set the scroll margin top on all anchor elements by using .anchor class */
/* Note: I'm setting plus 2.5em so the element has some breathing room on the top */

.nav a {
  scroll-margin-top: 8rem;
}