@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-bg: #FFF;
  --page-bg: #FFE7D5;
  --button-bg: #20f3ba;
  --color:  #000;
  --dark-color:#fff;
  --color-secondary: #515151;
  --light-bg: linear-gradient(90deg, #fff5ee 0%, #fff5ee 100%);
  --light-bg-reversed: linear-gradient(90deg, rgb(16 43 63) 0%, rgba(17,34,64,1) 100%);
  --lightest-bg: black ;/* #233554; */
  --shadow: none; /*12px 12px 0px 1px var(--lightest-bg); */
  --shadow-small: none; /*4px 4px 0px 1px var(--lightest-bg); */
  --shadow-small-light: none;/* 4px 4px 0px 1px var(--color-secondary); */
  --border: 0.1px solid transparent;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bg: var(--color);
    --page-bg: linear-gradient(#0a192f, #0a192f) repeat;
    --button-bg: #052f24;
    --color:  #a7ffee;
    --dark-color: rgb(16 43 63);
    --color-secondary: #515151;
    --light-bg: linear-gradient(90deg, rgba(17,34,64,1) 0%, rgb(16 43 63) 100%);
    --light-bg-reversed: linear-gradient(90deg, rgb(16 43 63) 0%, rgba(17,34,64,1) 100%);
    --lightest-bg: black ;/* #233554; */
    --shadow: none; /*12px 12px 0px 1px var(--lightest-bg); */
    --shadow-small: none; /*4px 4px 0px 1px var(--lightest-bg); */
    --shadow-small-light: none;/* 4px 4px 0px 1px var(--color-secondary); */
    --border: 0.1px solid transparent;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  margin: 0;
  padding: 0;
  font-family: -"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
