body {
  margin: 0;
  font-family: -"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* rgb(0, 163, 125) */

:root,
* {
  --color: #64ffda;
  --light-bg : #112240;
  --lightest-bg : #233554;
  --shadow : 12px 12px 0px 1px  var(--lightest-bg);
  --shadow-small : 4px 4px 0px 1px  var(--lightest-bg);
  --border : 1px solid var(--lightest-bg)
}

.cardify-small {
  display: none;
  border: var(--border);
  padding: 0 10px;
  box-shadow: var(--shadow-small)
}