.profile {
  background: var(--light-bg);
  height: auto;
  width: 75%;
  margin: auto;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-self: start;
  position: relative;
  top: 250px;
  margin-bottom: 300px;
  scroll-margin: 200px;
  border-radius: 10px; 
}

.profile_pic {
  height: auto;
  width: 300px;
  background-color: var(--light-bg);
  position: relative;
  border-radius: 10px;
  top: -4rem;
  left: -20px !important;
}
.profile_pic img {
  box-shadow: var(--shadow);
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.profile_details {
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--color);
  margin-top: 1rem;
  height: 100%;
  flex-direction: column; 
  position: relative;
  top: 90px;
}
.name {
  display: none;
  opacity: 1 !important;
  position: relative;
  font-size: 2.4rem;
  top: 1.2rem;
}
.role {
  display: none;
  position: relative;
  top: 0.6rem;
  left: 0.2rem;
}
.contact {
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.contact a {
  width: 19rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.contact svg {
  margin-top: -4px;
  vertical-align: middle;
}
.bio {
  width: 100%;
  max-width: 40vw;
  position: relative;
  /* top: 90px; */
  left: 20px !important;
  text-align: start;
  font-size: 1rem;
}
.horizontal {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  color: var(--color);
  height: 100%;
}

.phone {
  margin-top: 10px;
}
.email {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 3px 10px;
  height: 30px;
  min-width: 100px;
  border: var(--border) !important;
  border-radius: 10px;
  box-shadow: var(--shadow-small) !important;
  transition: 0.3s;
  font-size: 0.8rem;
}
.email:hover {
  background-color: var(--color);
  color: var(--dark-color);
  box-shadow: var(--shadow-small-light);
  cursor: pointer;
}
.phone {
  margin-top: 15px;
}

.skills_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 40px;
}


@media only screen and (max-width: 1365px) {
  .profile {
    width: 90%;
    top: 140px;
    flex-direction: column;
  }
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile_pic {
    position: relative;
    top: 0px;
    left: 0px !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile_pic img {
    position: relative;
    top: -40px;
    height: 200px;
    width: 200px;
  }
  .name {
    font-size: 1.4rem;
    text-align: center;
  }
  .role {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.4rem;
  }
  .email {
    font-size: 0.7rem;
    padding: 3px 10px;
    min-width: 70px;
    width: 100%;

  }
  .contact a {
    width: 100%;
    align-items: center;
    vertical-align: middle;
    height: 20px;
  }
  .contact {
    align-items: center;
  }
  .profile_details {
    /* margin-top: -70px; */
    width: 100%;
    max-width: 80vw !important;
    font-size: 0.7rem;
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
  }
  .bio {
    max-width: 70vw;
    width: 100%;
    min-width: none;
    position: relative;
    top: 0px;
    left: 0px !important;
    margin: 0rem 0;
    margin-bottom: 2rem;
    font-size: 0.7rem;
  }
  .skills_container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60vw;
    width: 100%;
    justify-content: center;
  }
  .profile .skill {
    padding: 5px 5px;
    margin: 5px 5px;
  }
  .horizontal {
    margin-top: -40px;
  }
}
